<!DOCTYPE html>
<html>
<head>
  <title>Ann Arbor Sports Equipment Sanitizing</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll">
<nav id="navBar" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="#landing" style="margin: 0; padding: 0;"><%= image_tag 'logo-white.png', class: 'img-responsive', style: 'max-height: 40px; margin-top: 5px;'  %></a>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#pricing-and-services">Pricing & Services</a></li>
        <li><a href="#the-problem">The Problem</a></li>
        <li><a href="#why-sanitize">Why Sanitize?</a></li>
        <li><a href="#sanitize-now">Sanitize Now</a></li>
        <li><a href="tel:+17342742659">743-274-2659</a></li>
        <li><%= mail_to "equipment@annarborequipmentsanitizing.com",  "Email Us" %></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div>
  <%= yield %>
</div>

<% if Rails.env == 'production' %>
    <script id='google_analytics'>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48336443-1', 'annarborequipmentsanitizing.com');
        ga('send', 'pageview');

    </script>
<% end %>
</body>
</html>
